@import './../../styles';

#wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  grid: 'nav header' 'aside section';
  grid-template-columns: 300px 1fr;
  grid-template-rows: 50px 1fr;
  grid-gap: 1px;
  background-color: lighten(@base, 10%);

  nav {
    grid-area: nav;
    padding: 5px;
    color: #fff;
    background-color: @red;
    img {
      display: block;
      margin: 0 auto;
      height: 100%;
      filter: drop-shadow(0 0 0 #000);
      transition: 0.2s filter;
      &:hover {
        filter: drop-shadow(0 0 10px #000);
      }
    }
  }

  section {
    grid-area: section;
    background-color: @base;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    canvas {
      display: block;
      width: 100%;
      max-width: 120vh;
      .box-shadow;
    }
  }
}
